<style> 
    h1 {
        color:blue;
        font-size: 75px;
         }


         a {
            color: chartreuse;

         }
            img { 
                width:100px; height:50px; 
            }
            li { 
                color: blueviolet;
            }
</style>

